@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: monospace;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #04aa6d;
}
